// Colors

$color-background = #F9F9F9

$color-body-text = #333333
$color-border = #e2e2e2
$color-border-active = #CCC
$color-input-placeholder = #CACACA

$color-button-fill = #F9F9F9
$color-button-fill-disabled = #BEBEBE
$color-button-hover = #FFF
$color-button-hover-fill = #E2E2E2

$color-button-group-fill = #F1F1F1

$color-share-button = #A1A1A1

$color-error = #c25250
$color-warning = #c5b52b
$color-success = #1e866c

$color-toggle-toggled = #AB5787
