@font-face {
	font-family: 'AdelleSansBold';
	src: url('/fonts/AdelleSans/AdelleSansBold.otf') format("opentype");
}

@font-face {
	font-family: 'AdelleSansLight';
	src: url('/fonts/AdelleSans/AdelleSansLight.otf') format("opentype");

}

@font-face {
	font-family: 'AdelleSansRegular';
	src: url('/fonts/AdelleSans/AdelleSansRegular.otf') format("opentype");
}