vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args

transition()
	vendor('transition', arguments)

transform()
	vendor('transform', arguments)	

transform-origin()
	vendor('transform-origin', arguments)	

user-select()
	user-select arguments
	-moz-user-select arguments
	-webkit-user-select arguments
	-ms-user-select arguments

// from nib -- http://visionmedia.github.io/nib/
placeholder()
	for v in ':-webkit-input' '-moz' ':-moz' '-ms-input'
		&:{v}-placeholder
			for pair in arguments
				if typeof(pair) == 'function'
					pair()
				else if pair is not null && pair[0] is not null
					{pair[0]}: type(pair[1]) == 'string' ? s(pair[1]) : pair[1]
